/* Tambahkan gaya untuk anime list */
#anime-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#anime-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#anime-list li:last-child {
  border-bottom: none;
}

/* Tambahkan gaya untuk container */
.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0